---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Solutions from '../components/Solutions.astro';
import Production from '../components/Production.astro';
import Footer from '../components/layout/Footer.astro';
import Partners from '../components/Partners.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<About />
		<Solutions />
		<Production />
		<Partners />
	</main>
	<Footer />
</Layout>
